<div class="d-lg-inline col-lg-2 col-md-1 mb-4" id="nav-content">
  <nav
    class="navbar navbar-expand-lg navbar-light navbar-dark d-flex flex-column align-items-start"
  >
    <!--Navbar Logo-->
    <div class="container p-0 m-0">
      <div class="d-flex p-0 mt-4 mt-lg-3 justify-content-between gap-3">
        <button
          class="border-0 d-lg-none"
          style="background-color: transparent"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbar"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <!-- Hamburger Icon -->
          <i class="fa-solid fa-bars fa-lg" style="color: #ffffff"></i>
        </button>
        <a
          class="navbar-brand text-white text-decoration-none fw-bold ms-lg-4 d-none d-md-none d-lg-inline"
          href="#"
        >
          <img src="./assets/media/logo.png" alt="Logo" />
          BeezPOS
        </a>
      </div>
    </div>
    <!--Navbar Links-->
    <div class="my-auto w-100">
      <div class="collapse navbar-collapse" id="navbar">
        <ul
          class="navbar-nav d-flex flex-column w-75 ms-0 my-4 my-md-0 my-lg-0 ms-md-4 ms-lg-4 gap-2"
        >
          <li class="nav-item">
            <button
              id="dashboardBtn"
              type="button"
              class="nav-link btn ps-2 text-start w-75"
              href="#"
            >
              Dashboard
            </button>
          </li>
          <li class="nav-item">
            <button
              id="customerBtn"
              type="button"
              class="nav-link btn ps-2 text-start w-75"
              href="#"
            >
              Customer
            </button>
          </li>
          <li class="nav-item">
            <button
              id="itemsBtn"
              type="button"
              class="nav-link btn ps-2 text-start w-75"
              href="#"
            >
              Items
            </button>
          </li>
          <li class="nav-item">
            <button
              id="checkoutBtn"
              type="button"
              class="nav-link btn ps-2 text-start w-75"
              href="#"
            >
              Checkout
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="ms-3 d-none d d-lg-flex flex-column gap-4">
      <div
        class="d-flex align-items-center gap-2 border border-1 border-white rounded-pill px-1 py-1 logged-user-container"
        style="width: 9rem"
      >
        <p
          class="rounded-circle text-dark text-center align-content-center"
          style="background-color: #f0c8cf; width: 2rem; height: 2rem"
        >
          L
        </p>
        <p>Login User</p>
      </div>
      <p class="mb-2" style="color: #686868; font-size: 0.75rem">
        © BeezPOS Rights Reserved
      </p>
    </div>
  </nav>
</div>
