<div class="row">
  <section
    class="col-12 py-4 px-5 vh-100 d-flex flex-column justify-content-between"
    id="loginWrapper"
  >
    <div class="d-flex flex-row justify-content-between align-items-center">
      <h4 class="fw-bold pt-1 text-white">Shift Login</h4>
      <p class="text-muted">Monday, 6 Feb 2023 • 8.23 AM</p>
    </div>
    <!-- User Cards Wrapper -->
    <div
      class="user-card-wrapper d-flex flex-column gap-3 flex-grow-1 justify-content-center align-items-center"
      id="userCard"
    >
      // User Cards
    </div>
  </section>
  <!-- Modal Container -->
  <div class="modal fade" id="pinModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark text-white" style="height: 70vh">
        <div class="modal-header border-0">
          <h5 class="modal-title">Enter PIN</h5>
          <button
            type="button"
            class="bg-transparent border-0"
            data-bs-dismiss="modal"
          >
            <i
              class="fa-regular fa-circle-xmark fa-2xl"
              style="color: #ffffff"
            ></i>
          </button>
        </div>
        <div class="modal-body mt-4">
          <!-- Dots Container -->
          <div
            class="dot-wrapper w-auto h-auto d-flex align-items-center justify-content-center gap-4"
            style="margin-bottom: 7vh"
          >
            <span
              class="bg-white rounded-circle d-inline-block"
              style="width: 20px; height: 20px"
            ></span>
            <span
              class="border border-1 border-white rounded-circle d-inline-block"
              style="width: 20px; height: 20px"
            ></span
            ><span
              class="border border-1 border-white rounded-circle d-inline-block"
              style="width: 20px; height: 20px"
            ></span
            ><span
              class="border border-1 border-white rounded-circle d-inline-block"
              style="width: 20px; height: 20px"
            ></span>
          </div>
          <div class="d-grid gap-5" id="btnWrapper"></div>
        </div>
      </div>
    </div>
  </div>
</div>
