<div class="text-white d-flex flex-column gap-5 pt-lg-4">
  <div class="d-flex flex-row justify-content-between align-items-center pe-1">
    <div class="d-flex flex-row align-items-center">
      <button
        class="btn d-lg-none border-none shadow-none p-0 pe-2 py-2"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNav"
        aria-controls="offcanvasNav"
      >
        <i class="fa-solid fa-bars fa-xl" style="color: white"></i>
      </button>
      <h4 class="fw-bold text-white fs-4 m-0 pt-lg-1">Items</h4>
    </div>
    <p class="text-muted d-none d-lg-inline d-md-inline" id="dateDisplay">
      Monday, 6 Feb 2023 • 8.23 AM
    </p>
  </div>
  <div
    class="item-card-wrapper d-flex flex-row flex-md-row flex-lg-row gap-4 flex-grow-1 justify-content-start align-items-center px-lg-0 px-2 overflow-auto"
    id="categoryCardWrapper"
    style="scrollbar-width: none"
  ></div>
  <div class="px-2 px-lg-0 d-flex flex-column gap-4">
    <div>
      <p class="fs-5 fw-bold">All Items</p>
    </div>
    <div
      class="row g-3 p-0 mb-5"
      id="itemCardWrapper"
      style="scrollbar-width: none"
    ></div>
  </div>
  <!-- Form Modal -->
  <div
    class="modal fade"
    id="itemFormModal"
    tabindex="-1"
    aria-labelledby="itemFormModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content bg-dark shadow-lg rounded-3">
        <div class="modal-header border-0 p-4">
          <a
            href="#"
            class="text-white text-decoration-none fs-4 opacity-75"
            data-bs-dismiss="modal"
            aria-label="Close"
          >
            <i class="fa-solid fa-arrow-left"></i>
          </a>
          <h5
            class="modal-title fw-bold text-center w-100 pe-3"
            id="itemFormModalLabel"
          >
            Item Info
          </h5>
          <button
            type="button"
            class="btn-close btn-close-white d-none"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body px-4 pb-4 pt-0">
          <form id="itemForm">
            <div class="mb-4">
              <label
                class="form-label fw-semibold text-body-secondary small mb-2"
                >Product Category</label
              >
              <div
                class="row row-cols-2 g-2"
                role="group"
                aria-label="Product category"
              >
                <div class="col">
                  <input
                    type="radio"
                    class="btn-check border-1"
                    name="category"
                    id="cat-mobile"
                    autocomplete="off"
                    checked
                  />
                  <label
                    class="btn btn-outline-secondary text-white rounded-3 text-start p-3 d-flex justify-content-between align-items-center small w-100"
                    style="border-color: #cfdddb"
                    for="cat-mobile"
                  >
                    Mobile
                    <span
                      class="badge rounded-3 text-muted"
                      style="background-color: #fac1d9"
                      >150</span
                    >
                  </label>
                </div>

                <div class="col">
                  <input
                    type="radio"
                    class="btn-check"
                    name="category"
                    id="cat-laptop"
                    autocomplete="off"
                  />
                  <label
                    class="btn btn-outline-secondary text-white rounded-3 text-start p-3 d-flex justify-content-between align-items-center small w-100"
                    style="border-color: #f0c8cf"
                    for="cat-laptop"
                  >
                    Laptop
                    <span
                      class="badge rounded-3 text-muted"
                      style="background-color: #fac1d9"
                      >120</span
                    >
                  </label>
                </div>

                <div class="col">
                  <input
                    type="radio"
                    class="btn-check"
                    name="category"
                    id="cat-tablet"
                    autocomplete="off"
                  />
                  <label
                    class="btn btn-outline-secondary text-white rounded-3 text-start p-3 d-flex justify-content-between align-items-center small w-100"
                    style="border-color: #c2dbe9"
                    for="cat-tablet"
                  >
                    Tablet
                    <span
                      class="badge rounded-3 text-muted"
                      style="background-color: #fac1d9"
                      >10</span
                    >
                  </label>
                </div>

                <div class="col">
                  <input
                    type="radio"
                    class="btn-check"
                    name="category"
                    id="cat-other"
                    autocomplete="off"
                  />
                  <label
                    class="btn btn-outline-secondary text-white rounded-3 text-start p-3 d-flex justify-content-between align-items-center small w-100"
                    style="border-color: #c9caee"
                    for="cat-other"
                  >
                    Other
                    <span
                      class="badge rounded-3 text-muted"
                      style="background-color: #fac1d9"
                      >10</span
                    >
                  </label>
                </div>
              </div>
            </div>

            <div class="mb-3">
              <label
                for="itemName"
                class="form-label fw-semibold text-body-secondary small mb-2"
                >Name</label
              >
              <input
                type="text"
                class="form-control text-white rounded-3 py-3 px-3 small border-0"
                style="background-color: #3d4142"
                id="itemName"
              />
            </div>

            <div class="mb-3">
              <label
                for="itemStatus"
                class="form-label fw-semibold text-body-secondary small mb-2"
                >Product Status</label
              >
              <input
                type="text"
                class="form-control text-white rounded-3 py-3 px-3 small border-0"
                style="background-color: #3d4142"
                id="itemStatus"
                value="0"
              />
            </div>

            <div class="mb-3">
              <label
                for="itemQty"
                class="form-label fw-semibold text-body-secondary small mb-2"
                >Piece / Item / Quantity</label
              >
              <input
                type="number"
                class="form-control text-white rounded-3 py-3 px-3 small border-0"
                style="background-color: #3d4142"
                id="itemQty"
                value="0"
              />
            </div>

            <div class="mb-3">
              <label
                for="itemPrice"
                class="form-label fw-semibold text-body-secondary small mb-2"
                >Price</label
              >
              <input
                type="text"
                class="form-control text-white rounded-3 py-3 px-3 small border-0"
                style="background-color: #3d4142"
                id="itemPrice"
                value="$600"
              />
            </div>
          </form>
        </div>

        <div
          class="modal-footer border-0 px-4 pb-4 d-flex flex-row justify-content-between align-items-center gap-2"
        >
          <button
            type="submit"
            class="btn btn-primary text-dark fw-semibold fs-6 rounded-3 py-3 flex-grow-1 border-0"
            id="saveItemBtn"
            style="background-color: #c9caee"
          >
            Save
          </button>
          <button
            type="button"
            class="btn btn-primary text-dark fw-semibold fs-6 rounded-3 py-3 flex-grow-1 border-0"
            id="deleteItemBtn"
            style="background-color: #f0c8cf"
          >
            Delete
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
