@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

/* Navbar Custom Styles */
.navbar button:focus {
  box-shadow: none !important;
  outline: none !important;
  transition: none !important;

  background-color: #292c2d !important;
  border: 1px solid transparent 5px !important;
}

p {
  margin: 0;
}

.logged-user-container {
  cursor: pointer;
  transition: all 300ms ease;
}

.logged-user-container:hover {
  background-color: lightslategrey;
  color: black;
}

.key {
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
}

@media all and (min-width: 768px) {
  .navbar {
    height: 100vh;
  }

  .flex-grow-md-1 {
    flex-grow: 1 !important;
  }

  .flex-grow-md-0 {
    flex-grow: 0 !important;
  }
}

.modal-pin {
  height: 50rem;
}

@media (max-width: 768px) {
  .modal-pin {
    height: 40rem;
  }
}

.dotted {
  background-color: white;
}

.bordered {
  border: 1px solid white;
}
